* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  padding-bottom: 24px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: inline-block;
}

.nav-link .nav-link-img {
  height: 29px;
  width: 66px;
}

.nav-list {
  margin-left: 140px;
  width: 485px;
  display: flex;
  justify-content: space-between;
}

.nav-item-link {
  color: #1a1a1a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-btnGroup {
  width: 198px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btnGroup-link {
  color: #1a1a1a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-btnGroup-btn {
  padding: 12px 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  background-color: #235241;
}

.intro {
  background-color: #e1fff4;
}

.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-box {
  width: 713px;
}

.intro-box-title {
  color: #1a1a1a;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}

.intro-box-text {
  color: #5a5a5a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 40px;
}

.intro-box-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 32px;
  background-color: #235241;
  border-radius: 4px;
}
